{{ define "content" }}

<h2 class="mb-4">Edit User</h2>

{{if .Error}}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}
<div class="card mb-4">
    <div class="card-body">
        <form action="/users/avatar/{{.ID}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="avatar" class="form-control" id="" required>
        </div>            
        <div><button type="submit" class="btn btn-primary">Submit</button></div>
        </form>
    </div>
</div>
{{ end }}
